.event-card{
    background-color: var(--c1);
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}
.card-details{
    font-family:monospace;
    font-variant: small-caps;
    font-weight: bold;
    color: white;
}