.header{
    background-color: var(--c4);
    width: 100%;        /* Take the full width of the parent container */
    max-width: 100vw; 
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}
@media only screen and (max-width: 768px) {
    .header{
        height: 3rem;
    }
    .logo{
        width: 4rem;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }
    .nav_links{
        font-size: 12px;
        margin-top: 0.23rem;
    }
    .nav_menu{
        margin-left: 6rem;
        
    }

}
@media only screen and (min-width: 1024px) {
    .header{
        height: 4.5rem;
    }
    .logo{
        width: 7rem;
        margin-top:0;
    
    }
    .search{
        border: none;
        width: 27rem;
        height: 2.5rem;
        margin: 0rem 0rem 0rem 2rem;
        border-radius: 5px;
        background-color: var(--c3);
    }
    .nav_menu{
        margin-left: 15rem;
        
    }
    .nav_icon_holder{
        margin-left: 7rem;
    }
    
}



.nav_links{
    color: var(--c3);
}
.nav_links:hover{
    color: white;
}
.nav_links:focus{
    color: white;
}
.nav_links:active{
    color: white;
}



.loginBtn{
    color: var(--c3);
    border-color: var(--c3);
}
.loginBtn:hover{
    color: var(--c4);
    background-color: var(--c3) ;
}
