*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --c1: #780000; 
  --c2: #C1121F; 
  --c3: #FDF0D5; 
  --c4: #003049; 
  --c5: #669BBC; 
}
body{
  background-color: var(--c3);
}
.lolo li a,p{
  color: var(--c3);
}
.hero{
  background-size: cover;
  text-shadow: 1px 1px 0 var(--c3);
  width: 100%;        /* Take the full width of the parent container */
  max-width: 95vw; 
}
.hero-text{
  color:var(--c2);

  font-family:monospace
}
.hero-button{
  background-color: var(--c2);
  border-color: var(--c3);
  color: var(--c3);
}
@media only screen and (max-width: 768px){
  .hero-text{
    font-size: 15px;
  }
  .hero-button{
    font-size: 8px;
    padding: 3px;
    border-radius: 2px;
  }
}
@media only screen and (min-width: 1024px) {

  .hero-text{
    font-size: 40px;
  }
}
.hero-button:hover{
  background-color: var(--c1);
  border-color: var(--c3);
  color: var(--c3);
}
.service-hero{
  background-color: var(--c2);
}

.sidebar{
  background-color: var(--c4);
  width: "20%";
  height: "100vh";
  border-right: 1px solid rgba(0, 0, 0, 0.158);
 
}
.sidebar-link{
  color: var(--c3);
}

.sidebar-link:visited {
  color: var(--c3);
}
.sidebar-link:hover{
  color: var(--c2);
}
.active-link{
  color: var(--c3);
  background-color: var(--c2);
}
.footer{
  background-color: var(--c4);
  border-top: 1px solid rgba(0, 0, 0, 0.158);
}